<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/demo.css"> -->


    <title>Icon Shadow</title>
</head>
<body>
    <footer class="footer">
        <section class="grid">
            <div class="box">
                <h3>quick links</h3>
                <a href="/home.html"><i class="fas fa-angle-right"></i> home</a>
                <a href=""><i class="fas fa-angle-right"></i> about</a>
                <a href=""><i class="fas fa-angle-right"></i> shop</a>
                <a href=""><i class="fas fa-angle-right"></i> contact</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="/user_login.html"><i class="fas fa-angle-right"></i> login</a>
                <a href="/user_register.html"><i class="fas fa-angle-right"></i> register</a>
                <a href=""><i class="fas fa-angle-right"></i> cart</a>
                <a href=""><i class="fas fa-angle-right"></i> orders</a>
            </div>

            <div class="box">
                <h3>contact us</h3>
                <a href="/user_login.html"><i class="fas fa-phone"></i> +123 456 7899</a>
                <a href="/user_register.html"><i class="fas fa-phone"></i> +111 222 3333</a>
                <a href="mailto:votuanhuy@gmail.com" class="none"><i class="fas fa-envelope"></i> votuanhuy@gmail.com</a>
                <a href="https://hcmue.edu.vn/vi/"><i class="fas fa-map-marker-alt"></i> An Duong Vuong, Q5</a>
            </div>

            <!-- <div class="box">
                <h3>follow us</h3>
                <a href="#"><i class="fab fa-facebook-f"></i> facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i> linkedin</a>
            </div> -->
        </section>

        <section class="icon-animation">
            <h3>follow us</h3>
            <ul>
                <li style="--clr: #1877f2;">
                    <a href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>

                <li style="--clr: #ff0000;">
                    <a href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>

                <li style="--clr: #c32aa3;">
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>

                <li style="--clr: #1da1f2;">
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>

                <li style="--clr: #242626;">
                    <a href="">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </section>

        <div class="credit">&copy; copyright @ 2022 by <span>Vo Tuan Huy</span> | all rights reserved!</div>
    </footer>

    <!-- <ul>
        <li  style="--clr: #1877f2;">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li style="--clr: #ff0000;">
            <a href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </li>

        <li style="--clr: #c32aa3;">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </li>

        <li style="--clr: #cddfdf;">
            <a href="#">
                <i class="fab fa-github"></i>
            </a>
        </li>

        <li style="--clr: #1da1f2;">
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    </ul> -->
</body>
</html>