<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Home</title>
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="/index.html" class="logo">PhoneStore</a>

            <nav class="navbar">
                <a href="/index.html">home</a>
                <a href="/about.html">about</a>
                <a href="/orders.html">order</a>
                <a href="/shop.html">shop</a>
                <a href="/contact.html">contact</a>
            </nav>

            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>

                <a href="/search.page.html"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-heart"></i><span>(0)</span></a>
                <a href="#"><i class="fas fa-shopping-cart"></i><span>(0)</span></a>
                
                <div id="user-btn" class="fas fa-user"></div>
            </div>

            <div class="profile">
                <p>Please login or register first!</p>
                <div class="flex-btn">
                    <a href="/user_register.html" class="option-btn">register</a>
                    <a href="/user_login.html" class="option-btn">login</a>
                </div>
            </div>
        </section>
    </header>

    <script src="../js/script.js"></script>
</body>
</html>